// 表单、按钮、下拉菜单
.form-control {
  font-family: $font-family-sans-serif;
}
.form-control.form-control-alt {
  border-color: #f0f3f8;
  background-color: #f0f3f8;
  transition: none;
}
.form-control.form-control-alt:focus {
  border-color: #e4e9f3;
  background-color: #e4e9f3;
  box-shadow: none;
}
.btn {
  font-family: $font-family-sans-serif;
}
.btn.btn-rounded {
  border-radius: 2rem;
}
.btn .fa,
.btn .si {
  position: relative;
  top: 1px;
}
.dropdown-menu {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.08);
}
.dropdown-menu.dropdown-menu-lg {
  min-width: 300px;
}
.dropdown-item {
  margin-bottom: 0.25rem;
  border-radius: 0.25rem;
}
.input-group-text.input-group-text-alt {
  background-color: #e4e9f3;
  border-color: #e4e9f3;
}
