// 侧边栏主菜单（数值按原版实测）
.nav-main {
  padding-left: 0;
  list-style: none;
}
.nav-main-heading {
  padding-top: 1.75rem;
  padding-bottom: 0.25rem;
  padding-left: 0.625rem;
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  color: #949da5;
}
.nav-main-item {
  display: flex;
  flex-direction: column;
}
.nav-main-link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.625rem;
  margin: 2px 0;
  min-height: 2.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.0125em;
  color: #555d65;
  border-radius: 0.2rem;
}
.nav-main-link .nav-main-link-icon {
  flex: 0 0 auto;
  display: inline-block;
  margin-right: 0.625rem;
  min-width: 1.25rem;
  font-size: 1rem;
  text-align: center;
  color: rgba($primary, 0.7);
}
.nav-main-link .nav-main-link-name {
  flex: 1 1 auto;
  display: inline-block;
  max-width: 100%;
}
.nav-main-link .nav-main-link-badge {
  flex: 0 0 auto;
  display: inline-block;
  margin-left: 0.625rem;
  padding-right: 0.375rem;
  padding-left: 0.375rem;
  font-size: 0.75rem;
}
.nav-main-link.active,
.nav-main-link:hover {
  color: #000;
  background-color: #e1effe;
}
.page-header-dark #page-header .nav-main-heading,
.sidebar-dark #sidebar .nav-main-heading {
  color: #7a8793;
}
.page-header-dark #page-header .nav-main-link,
.sidebar-dark #sidebar .nav-main-link {
  font-weight: 400;
  color: #c0c6cc;
}
.page-header-dark #page-header .nav-main-link > .nav-main-link-icon,
.sidebar-dark #sidebar .nav-main-link > .nav-main-link-icon {
  color: #626d78;
}
.page-header-dark #page-header .nav-main-link.active,
.page-header-dark #page-header .nav-main-link:hover,
.sidebar-dark #sidebar .nav-main-link.active,
.sidebar-dark #sidebar .nav-main-link:hover {
  color: #fff;
  background-color: #2a2f33;
}
